{% extends "index.html" %}

{% block content %}
<a href="/" class="capslink">
    <!-- <img src="/monomadic-purple.svg" height="30px" style="margin-right: 5px;"> -->
    <svg height="30px" viewBox="0 0 166 192" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient x1="7.66632832%" y1="0%" x2="95.0190083%" y2="100%" id="linearGradient-1">
                <stop stop-color="#3023AE" offset="0%"></stop>
                <stop stop-color="#C86DD7" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="inline-logo">
            <g id="Artboard-Copy-2" transform="translate(-25.000000, -12.000000)" fill="url(#linearGradient-1)"
                fill-rule="nonzero">
                <g id="Group-2" transform="translate(25.000000, 12.000000)">
                    <path
                        d="M24.2950973,24.3063579 C56.7152047,-8.10220881 109.289027,-8.10220881 141.70544,24.306895 C173.774259,56.3684836 174.094947,108.132704 142.667505,140.592448 L141.70544,141.570127 L107.10211,176.165655 L48.3966704,117.473451 L64.9183785,101.076643 L107.101573,143.250223 L125.183195,125.173856 C148.275898,102.083345 148.506825,64.7789446 125.876497,41.4076312 L125.183732,40.7037034 C101.881972,17.4071973 64.1210701,17.4071973 40.8162681,40.7037034 C17.7240964,63.7906685 17.4931747,101.095034 40.1232151,124.469013 L40.8159714,125.173022 L91.2605573,175.602598 L74.7394427,192 L24.2940229,141.56959 C-8.0981867,109.180457 -8.0981867,56.6923381 24.2950973,24.3063579 Z"
                        id="symbol-copy"></path>
                </g>
            </g>
        </g>
    </svg>

    <strong>MONOMADIC</strong></a>
<article class="post-body">
    <main>
        <h1>{{ page.title }}</h1>
        <abstract>{{ page.description }}</abstract>
        <hr>
        {{ page.content | safe }}
    </main>
</article>
{% endblock content %}>